<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <div id="app">
      <!-- 3，使用创建好的组件 -->
      <h2>父子组件</h2>
      <globalcpn></globalcpn>
      <topocpn></topocpn>
   </div>

   <!-- 组件模板抽离写法一 -->
   <script type="text/x-template" id="global">
      <div>
         <h2>{{title}}</h2>
         <p>抽离组件模板的写法有两种</p>
         <p>使用写法一抽离全局组件模板</p>
      </div>
   </script>

   <!-- 组件模板抽离写法二 -->
   <template id="topo">
      <div>
         <h2>{{title}}</h2>
         <p>抽离组件模板的写法有两种</p>
         <p>使用写法二抽离局部组件模板</p>
      </div>
   </template>

   <script src="../vue.js"></script>
   <script>
      // 1，语法糖创建组件构造器对象
      Vue.component("globalcpn", {
         template:global,
         data(){
            return{
               title:"组件中有自己的data属性"
            }
         }
      })

      const app = new Vue({
         el: "#app",
         data: {
            title: "Vue实例中的data组件不能访问"
         },
         // 语法糖注册局部组件
         components: {
            topocpn: {
               template:topo,
               data(){
                  return{
                     title:"Vue实例中的data组件不能访问"
                  }
               }
            }
         }
      })
   </script>
</body>

</html>