<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div id="app">
      <!-- 3，使用创建好的组件 -->
      <h2>局部组件</h2>
      <mycpn></mycpn>
      <first-cpn></first-cpn>
   </div>

   <div id="app1">
      <h2>全局组件</h2>
      <first-cpn></first-cpn>
   </div>

   <script src="../vue.js"></script>
   <script>
      // 1，创建组件构造器对象
      const cpn = Vue.extend({
         template:
            `<div>
               <h3>Vue局部组件</h3>
               <p>创建组件构造器对象</p>
               <p>注册局部组件</p>
               <p>使用创建好的组件</p>
            </div>`
      })
      const cpnC = Vue.extend({
         template:
            `<div>
               <h3>Vue全局组件</h3>
               <p>创建组件构造器对象</p>
               <p>注册全局组件</p>
               <p>使用创建好全局的组件</p>
            </div>`
      })
      // 2，注册全局组件Vue.component("组件的标签名"，组件构造器对象)
      Vue.component("first-cpn",cpnC)

      const app = new Vue({
         el:"#app",
         data:{
            message:"组件化编程"
         },
         // 注册局部组件
         components:{
            // mycpn组件标签名。cpn为组件构造器对象
            mycpn:cpn
         }
      })

      const app1= new Vue({
         el:"#app1",
         data:{
            message:"组件化编程"
         }
      })
   </script>
</body>
</html>